<div class="edit-resource">
  <div class="edit-resource-form-container">
    <h2 class="title is-4">Edit To-do List</h2>

    <%= form_with(model: @todo_list, url: project_todo_list_path(@project, @todo_list)) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: 'off', class: "input" %>
      </div>

      <div class="field">
        <%= f.label :created_at %><br />
        <%= f.date_select :created_at, use_short_month: true, order: [:month, :day, :year], start_year: 5.years.ago.year %>
        <small class="has-text-grey-light">(USA Pacific Time)</small>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button is-info" %>
        <%= link_to "Back", project_path(@project), class: "button is-info is-outlined" %>
      </div>
    <% end %>
  </div>
</div>
