<div class="project-details-container">
  <div class="project-details-card">
    <h1 class="project-name"><%= @project.name %></h1>
    <p class="project-description"><%= @project.description %>
    <div class="user-avatars-container">
      <%= image_tag("jj-avatar.png", class: "user-avatar") %>
      <%= image_tag("jh-avatar.png", class: "user-avatar") %>
      <%= image_tag("tt-avatar.png", class: "user-avatar") %>
      <%= image_tag("tm-avatar.png", class: "user-avatar") %>
      <%= image_tag("ds-avatar.png", class: "user-avatar") %>
    </div>
    <div class="project-resources-container">
      <div class="project-resource-card">
        <h3 class="project-resource-card-header">Docs & Files</h3>
        <hr/>
        <div class="documents-container">
          <div class="document">
            <span class="icon is-medium">
              <i class="fas fa-2x fa-file-alt"></i>
            </span>
          </div>
          <div class="document">
            <span class="icon is-medium">
              <i class="fas fa-2x fa-file-alt"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="project-resource-card">
        <h3 class="project-resource-card-header">Resume</h3>
        <hr/>
        <div class="documents-container">
          <div class="document">
            <p><small>Resume</small></p>
          </div>
          <div class="document">
            <p><small>Cover letter</small></p>
          </div>
        </div>
      </div>
    </div>

    <h1 class="activities-title">Project Activity</h1>
    <div class="activities-timeline">
      <% @activities_by_month_and_year.each do |month_and_year, activities| %>
        <h2 class="activity-month-header"><%= month_and_year %></h2>
        <%= render(activities, locals: { direction: cycle("left", "right") }) %>
      <% end %>
    </div>
  </div>
</div>
