<div class="project-details-container">
  <div class="project-details-card">
    <h1 class="project-name"><%= @project.name %></h1>
    <p class="project-description"><%= @project.description %>
    <div class="user-avatars-container">
      <%= render(partial: 'users/user', collection: @project.users, locals: { size: 35 }, cached: true) %>
    </div>
    <div class="project-resources-container">

      <%# You get the Docs & Files project tool by default with every project %>
      <div class="project-tool-card">
        <%= link_to(project_documents_path(@project), class: "project-tool-link") do %>
          <h3 class="project-tool-card-header">Docs & Files</h3>
          <div class="project-tool-contents-preview">
            <%= render(partial: 'documents/document_preview', collection: @recent_documents, as: :document, cached: true) %>
          </div>
        <% end %>
      </div>

      <%# Custom project tools can be added on a per-project basis %>
      <%= render(partial: 'project_tools/project_tool', collection: @project.project_tools.sort_by(&:created_at), cached: true) %>
    </div>

    <h1 class="activities-title">Project Activity</h1>
    <div class="activities-timeline">
      <% @activities_by_month_and_year.each do |month_and_year, activities| %>
        <h2 class="activity-month-header"><%= month_and_year %></h2>
        <%= render(partial: 'activities/activity', collection: activities, locals: { direction: cycle("left", "right") }, cached: true) %>
      <% end %>
    </div>
  </div>
</div>
